Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/ParagonKwang/*
Content/ParagonSteel/*
Content/MSPresets/*
Content/Megascans/*
Content/Fonts/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace